doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" href="assets/img/favicon-32x32.png" size="32x32")
        link(rel="stylesheet" href="assets/css/main.css")
        title Reto Platzi!
    body
        section.hero
            article.container
                figure.img
                    img(src="assets/img/drawers.jpg")
                div.content
                    h1 Shift the overall look abd feel by adding these wonderfull touches to furniture in your home
                    p Ever been in a room and felt like something was missing? Perhaps it felt slightly bare and uninviting. I´ve got some simple tips to help you make any room feel complete.
                    div.profile
                        figure
                            img(src="assets/img/avatar-michelle.jpg")
                        div.name
                            h4
                                b Michelle Appleton
                            p 28 Jun 2020
                        div.social
                            div.share#share
                                i
                                    img(src="assets/img/icon-share.svg")
                            div#social__tooltip.oculto
                                h3 SHARE
                                i 
                                    a(href="https://www.facebook.com/" target="_blank")
                                        img(src="assets/img/icon-facebook.svg")
                                i 
                                    a(href="https://twitter.com/" target="_blank")
                                        img(src="assets/img/icon-twitter.svg")
                                i 
                                    a(href="https://www.pinterest.com/" target="_blank")
                                        img(src="assets/img/icon-pinterest.svg")
                                i
                                    a(href="#!")
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13"><path fill="#6E8098" d="M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z"/></svg>
        script(type="text/javascript" src="assets/js/main.js")